#about{
    /* margin-top: 10%; */
    width: 100%;
    height: 100vh;
    z-index: 5;    
    background-color: var(--main-color);
    background-image: var(--gradient-color);
    background-size: 100% 50%;
    background-position: top center;
    background-repeat: no-repeat;
}
.about_inner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8.5%;
    z-index: 10;
    transition: transform 0.1s ease-out;
}
.me_img{
    width: 30%;
    height: auto;
    margin-right: 5%;
}

.me_text{
    width: 54.44%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.me_text .h3{
    margin-bottom: 13%;
}
.me_text p{
    font-family: var(--point-Kor);
    font-size: 30px;    
    /* font-size: clamp(20px, 1.5vw, 30px); */
    font-weight: 700;
    color: var(--point-color);
    margin-bottom: 10%;
}
.me_info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.me_info ul{
    height: auto;
}
.me_info ul li{
    font-family: var(--sub-font);
    /* font-size: 24px; */
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 800;
    line-height: 2;
}

.me_info ul.info_list{
    margin-right: 8%;
    padding-left: 6%;
    position: relative;
}
.me_info ul.info_list::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-image: linear-gradient(to bottom, #E3FDF5, #FFE6FA);
}
.me_info ul.info_list li{
    text-transform: uppercase;
}

@media (max-width: 1440px) {}
@media (max-width: 1080px) {
    .me_text .h3{
        margin-bottom: 10%;
    }
    .me_text p{
        margin-bottom: 8%;
    }
    .me_info ul.info_list::before{
        top: 5%;
        height: 90%;
    }
}